h1 {
    text-align:center
}



.container {
    color: white;
    background-color: blue;
}

.tombol {
    text-align: center;
    display: flex;
    align-items: center;
   justify-content: center;
   background: #f0faff;
}

.button {
    position: relative;
    padding: 10px 22px;
    background:rgb(89, 205, 241);
    border-radius: 6px;
    color:#f0faff;
    border:none;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:active {
    transform:scale(0.96);
}



.im {
    color: rgb(49, 72, 190);
}